<!DOCTYPE html>
<html lang="en" class="site-content">

<head>

  <title>{{ page.title }}</title>
  {% include header.html %}
  {% if page.use_prism %}
    {% include prism.html %}
  {% endif %}
</head>

<body class="parallax">
  {% include banner.html %}

  <div class="black-background">
  {% if page.image %}
  {% if page.image contains '/icons/' %}
  <h1 id="content" class="icon-title-flex">
    <img class="small-post-image" src="{{ page.image | relative_url }}" alt="{{ page.image_alt | default: page.title | append: ' image' }}">
    <span class="page-title shimmer-text">{{ page.title }}</span>
  </h1>
  {% if page.category %}
    <p class="center category-link">
      Category: <a href="{{ site.baseurl }}/categories/#{{ page.category | slugify }}">{{ page.category }}</a>
    </p>
  {% endif %}
  <p class="center"><em>{{ page.date }}</em></p>
  <p class="post-intro">{{ page.intro }}</p>
  {% else %}
  <h1 id="content" class="page-title shimmer-text">{{ page.title }}</h1>
  {% if page.category %}
    <p class="center category-link">
      Category: <a href="{{ site.baseurl }}/categories/#{{ page.category | slugify }}">{{ page.category }}</a>
    </p>
  {% endif %}
  <p class="center"><em>{{ page.date }}</em></p>
  {% if page.summary %}
  <p class="post-intro">{{ page.summary }}</p>
  {% endif %}
  </div>
  <a href="{{ page.image | relative_url }}" target="_blank"><img class="large-post-image" src="{{ page.image | relative_url }}"
      alt="{{ page.image_alt | default: page.title | append: ' image' }}"></a>
  {% endif %}
  {% else %}
  <h1 id="content" class="page-title shimmer-text">{{ page.title }}</h1>
  <p class="center"><em>{{ page.date }}</em></p>
  {% endif %}
  {% if page.intro %}
  <p class="post-intro black-background">{{ page.intro }}</p>
  {% endif %}
  
  <div id="content" class="content">{{ content }}</div>
  <br />

  <!-- Tags -->
  {%- if page.tags -%} {% for tag in page.tags %}
  <a href="{{site.baseurl}}/archive/#{{tag | slugize}}"> #{{ tag }} </a>
  {% endfor %} {%- endif -%}

  <!-- Nav buttons -->
  <div class="nav">
    <a href="{{ '' |relative_url }}/">← Back to index</a>
    <a href="#">↑ Top</a>
  </div>
  <br />
    {% include credit-footer.html %}
    <hr />
  {% if page.show_comments != false %}
    {% include comments.html %}
  {% endif %}

</body>

</html>